<div class="spinner-overlay" *ngIf="_show_spinner">
    <div class="spinner-container">
        <span class="loader"></span>
    </div>
</div>

<div class="dash-modal d-flex justify-content-between">
    <div class="p-3" *ngIf="show_form">
        <form [formGroup]="dataNameForm" (ngSubmit)="onSubmit()">
            <div class="m-1 d-flex align-items-center text-primary">
                <mat-icon>info</mat-icon> &nbsp; Edición de la cabecera para la cotización.
            </div>
                <div class="d-flex flex-column">
                <div class="m-1 shadow-sm">
                    <input class="form-control form-control-sm" 
                           placeholder="Título"
                           formControlName="tituloPres"
                           #tituloPres
                           (keyup)="onSubmit()"
                           id="tituloPres">
                </div>
                <div class="m-1 shadow-sm">
                    <input class="form-control form-control-sm" 
                           placeholder="REPRESENTANTE LEGAL"
                           formControlName="repLegal"
                           #repLegal 
                           (keyup)="onSubmit()"
                           id="repLegal">
                </div>
                <div class="m-1 shadow-sm">
                    <input class="form-control form-control-sm" 
                           placeholder="DIRIGIDO A..."
                           formControlName="dirigido"
                           #dirigido
                           (keyup)="onSubmit()"
                           id="dirigido">
                </div>
                <div class="p-2 d-flex justify-content-end">
                    <button class="btn btn-warning d-flex align-items-center"
                            type="button"
                            printSectionId="cotizacion" ngxPrint>
                            <mat-icon>download</mat-icon> &nbsp; Descargar PDF
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="p-3" id="area-rep">
        <div id="cotizacion"></div>
    </div>
    <button style="position: fixed; bottom: 10px; "
    class="btn btn-warning d-flex align-items-center"
                        type="button"
                        printSectionId="cotizacion" ngxPrint>
                        <mat-icon>download</mat-icon> &nbsp; Descargar PDF
    </button>
</div>
