.nav {
    background: rgb(17,38,74);
    background: linear-gradient(313deg, rgba(17,38,74,1) 0%, rgba(28,120,76,1) 100%);
    padding: 5px;
}

.estateView {
    width: 25px;
    height: 25px;
    border: groove 2px whitesmoke;
    box-shadow: 3px 3px 5px rgb(53, 53, 53);
    border-radius: 100%;
}