<audio #audioPlayer src="../../../../assets/audio/msj_sound.mp3" ></audio>
<div class="spinner-overlay" *ngIf="_show_spinner">
  <div class="spinner-container">
    <span class="loader"></span>
  </div>
</div>
<div *ngIf="_cli_view && listaTicketPendientes.length > 0"
  class="alert alert-warning alert-dismissible fade show d-flex"
  role="alert" style="overflow-x: scroll">
  <div *ngFor="let itemPendientes of listaTicketPendientes"
    style="border: groove 2px rgb(212, 190, 146)"
    class="box-alert-ticket animate__animated animate__headShake m-2 d-flex justify-content-start align-items-center p-2 rounded-2">
    <div class="img-icon-alert p-1 shadow-sm" [style]="'background-image: url(' + itemPendientes.imagen + ');'"></div>
    &nbsp; &nbsp;
    <div>
      <div>
        <span> Ticket: </span>
        <strong>
          #{{ itemPendientes.tipo }}-{{ itemPendientes.codRequerimiento }}
        </strong>
      </div>
      <div>
        <span> Agencia: </span>
        <strong>
          {{ itemPendientes.nombre }}
        </strong>
      </div>
    </div>
    &nbsp; &nbsp;
    <div>
      <button class="btn btn-warning btn-sm d-flex align-items-center"
        (click)="irTransmitirTicket(itemPendientes)">
        <mat-icon>done</mat-icon> 
        &nbsp; 
        <strong> ir </strong>
      </button>
    </div>
  </div>
</div>
<section class="d-flex" style="height: 90vh; overflow-y: auto;">
  <div class="table-responsive w-100" >
    <div class="d-flex justify-content-between align-items-end">
      <div class="p-2" title="DESCRIPCIÓN DE LOS ESTADOS DEL TICKET">
        <button 
          class="btn btn-warning d-flex align-items-center"
          (click)="openDataEstadosTicketsInformation('')">
          <mat-icon>invert_colors</mat-icon>
        </button>
      </div>
      <app-filter (datafilter)="obtenerDataFilter($event)" 
        [clienteData]="modelCliente" class="w-100">
      </app-filter>
      <div class="btn-ico" *ngIf="actionButton" (click)="showPermissionsEmit()">
        <mat-icon>add</mat-icon>
      </div>
    </div>
    <table class="table table-striped table-dark align-middle" *ngIf="false">
      <thead class="table-warning bg-warning">
        <th class="p-2"></th>
        <th class="p-2">#</th>
        <th class="p-2">Fecha</th>
        <th class="p-2">{{ head_agen }}</th>
        <th class="p-2">Descripción del problema</th>
        <th class="p-2">Observación</th>
        <th class="p-2">Estado</th>
      </thead>
      <tbody>
        <tr *ngFor="let tickets of listaTickets">
          <td (click)="catchData(tickets)" class="edit_btn">
            <div class="d-flex align-items-center justify-content-center">
              <mat-icon>edit</mat-icon>
            </div>
          </td>
          <td>{{ tickets.idRequerimientoPad }}</td>
          <td>{{ tickets.fechacrea | date : "dd-MM-yyyy" }}</td>
          <td>{{ tickets.nombreAgencia | uppercase }}</td>
          <td>{{ tickets.mensajeDelProblema }}</td>
          <td>{{ tickets.obervacion }}</td>
          <td [title]="tickets.estadoSignificado">
            <div class="d-flex align-items-center justify-content-between">
              <div class="msjestado rounded-2 p-2 animate__animated animate__backInLeft">
                <small style="color: yellowgreen">
                  {{ tickets.mssageEstado | uppercase }}
                </small>
              </div>
              <div class="box-estado" [style]="'background-color:' + tickets.colorEstado"></div>
              &nbsp; &nbsp;
              <div *ngIf="actionButton"
                class="actions"
                (click)="actualizarEstado(tickets.idRequerimiento, 2, tickets.idRequerimientoPad, tickets)"
                matBadgeColor="primary"
                [matBadge]="tickets.cantidadMensajes"
                matBadgePosition="before"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">
                <div class="btn-ico">
                  <mat-icon>
                    {{ icon_action }}
                  </mat-icon>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <span class="text-secondary d-flex align-items-center p-2 animate__animated animate__fadeIn"
      *ngIf="listaTickets.length == 0">
      <mat-icon> info </mat-icon> &nbsp;
      <span> Este cliente no ha emitido ningún requerimiento. </span>
    </span>
    <div class="accordion accordion-flush mt-2 px-2" id="accordionFlushExample">
      <div  class="accordion-item mt-2 shadow rounded-4"
        *ngFor="let requer of listaTickets; let i = index">
        <h2 class="accordion-header m-0" [id]="'flush-heading-' + requer.idTicket">
          <div class="w-100 d-inline-flex justify-content-center align-items-center">
            <div class="btn-CloseTicket">
              <div [matMenuTriggerFor]="menu" style="cursor: pointer;">
                <mat-icon>more_vert</mat-icon>
              </div>
              <mat-menu #menu="matMenu">
                <!-- (click)="deleteRequer(requer.idTicket, i)" -->
                <button mat-menu-item (click)="openDataEquiposDialog(requer)">
                  <mat-icon>visibility</mat-icon>
                  <span>Ver imagen</span>
                </button>
                <button mat-menu-item
                  (click)="deleteRequer(requer.idTicket, i)"
                  *ngIf="actionButton && requer.estado <= 1">
                  <mat-icon>delete</mat-icon>
                  <span>Eliminar requerimiento</span>
                </button>
                <button mat-menu-item
                  (click)="actualizarSoloEstadoTicket(requer.idTicket, 4, requer)"
                  class="d-flex justify-content-end align-items-center">
                  <mat-icon>done_all</mat-icon>
                  <span>Cerrar ticket</span>
                </button>
              </mat-menu>
            </div>
            <div class="accordion-button collapsed p-1 mt-1"
              (click)="sendIdTicket(requer.idTicket)"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#flush-collapse-' + requer.idTicket"
              aria-expanded="true"
              [attr.aria-controls]="'flush-collapse-' + requer.idTicket">
              <div class="d-flex justify-content-lg-start align-items-center">
                <div class="d-flex align-items-center" >
                  <div class="d-flex align-items-center p-1 rounded-4 shadow-sm"
                    [style]="'transition: ease all 1s; background-color: ' + requer.colorEstado">
                    <div class="d-flex flex-column">
                      <small class="litle-title p-0 m-0"> No. Ticket: </small>
                      <span class="subtitulo">
                        {{ requer.idRequerimientoPad }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-center p-1" style="width: 300px;">
                  <div class="d-flex flex-column">
                    <small class="litle-title p-0 m-0">
                      AGENCIA (LOCALIDAD)
                    </small>
                    <span class="subtitulo">
                      {{ requer.nombreAgencia }} ({{ requer.nombreProvincia }})
                    </span>
                  </div>
                </div>
                <div class="d-flex align-items-center p-1" style="margin-right: 25px;">
                  <div class="d-flex flex-column">
                    <small class="litle-title p-0 m-0">
                      REPUESTOS
                    </small>
                    <span class="subtitulo">
                      {{ (requer.cantRep > 0) ? 'SI' : 'NO' }}
                    </span>
                  </div>
                </div>
                <div class="d-flex align-items-center p-1">
                  <ng-container *ngIf="requer.tecnicos.length > 0" >
                    <ng-container *ngFor="let tecnico of requer.tecnicos">
                      <img [src]="tecnico.imagenTecnico || '../../../../assets/user-default/defect-user.png' "  alt="No image" width="40px" height="40px"
                           class="rounded-circle animate__animated animate__bounceIn"
                           style="margin-left: -25px" 
                           [title]="tecnico.nombreTecnico + ' ' + tecnico.apellidoTecnico"
                           />
                    </ng-container>
                  </ng-container>
                </div>
                <div class="d-flex align-items-center p-1">
                  <div class="d-flex flex-column">
                    <small class="litle-title p-0 m-0">
                      FECHA HORA CREACIÓN
                    </small>
                    <span class="subtitulo">
                      {{ requer.fecreaRealIni | date : "dd-MM-yyyy" }} {{ requer.horaInicialPlanificada}}
                    </span>
                  </div>
                </div>
                <div class="d-flex align-items-center p-1" *ngIf="requer.estado == 4">
                  <div class="d-flex flex-column">
                    <small class="litle-title p-0 m-0">
                      FECHA HORA FINALIZACIÓN
                    </small>
                    <span class="subtitulo">
                      {{ requer.fecreaRealFin | date : "dd-MM-yyyy" }} {{ requer.horaFinalReal }}
                    </span>
                  </div>
                </div>
                <div class="d-flex align-items-center p-1">
                  <div class="d-flex flex-column">
                    <small class="litle-title p-0 m-0">
                      TIEMPO DE RESOLUCIÓN
                    </small>
                    <span class="subtitulo">
                      {{ formatearTiempo(requer.tiempoTotalExactoMinutos) }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <div class="d-flex align-items-center p-1">
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <small class="litle-title p-0 m-0">
                    REP.TÉCNICO
                  </small>
                  <ng-container *ngIf="requer.fileRepTec !== 0; else vacioRepTecnico">
                    <div style="cursor: pointer; position: relative;" (click)="getFileMedia(requer.idTicket,'REPTEC')">
                      <img src="../../../../assets/pdf-icons/pdf-logotipo.png" alt="No image" width="20px" height="auto" />
                      <span class="position-absolute animate__animated animate__bounceIn top-0 start-100 translate-middle badge rounded-pill bg-danger" style="transform: translate(-50%, -50%); font-size: 0.5em;">
                        {{requer.fileRepTec}}
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </div>
                  </ng-container>
                  <ng-template #vacioRepTecnico>
                    <div style="position: relative;">
                      <mat-icon>picture_as_pdf</mat-icon>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary" style="transform: translate(-50%, -50%); font-size: 0.5em;">
                        {{requer.fileRepTec}}
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </div>
                  </ng-template>
                </div>
              </div>
              <div class="d-flex align-items-center p-1">
                <div class="d-flex flex-column justify-content-center align-items-center" *ngIf="show_files_cotiza">
                  <small class="litle-title p-0 m-0">
                    COTIZACIÓN
                  </small>
                  <ng-container *ngIf="requer.fileCotiza !== 0; else vacioCotizacion">
                    <div style="cursor: pointer; position: relative;" (click)="getFileMedia(requer.idTicket,'COTIZA')">
                      <img src="../../../../assets/pdf-icons/pdf-logotipo.png" alt="No image" width="20px" height="auto" />
                      <span class="position-absolute animate__animated animate__bounceIn top-0 start-100 translate-middle badge rounded-pill bg-danger" style="transform: translate(-50%, -50%); font-size: 0.5em;">
                        {{requer.fileCotiza}}
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </div>
                  </ng-container>
                  <ng-template #vacioCotizacion>
                    <div style="position: relative;">
                      <mat-icon>picture_as_pdf</mat-icon>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary" style="transform: translate(-50%, -50%); font-size: 0.5em;">
                        {{requer.fileCotiza}}
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </div>
                  </ng-template>
                </div>
              </div>
              <div class="d-flex align-items-center p-1">
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <small class="litle-title p-0 m-0">
                    N.ENTREGA
                  </small>
                  <ng-container *ngIf="requer.fileNotEnt !== 0; else vacioNotaEntrega">
                    <div style="cursor: pointer; position: relative;" (click)="getFileMedia(requer.idTicket,'NOTENT')">
                      <img src="../../../../assets/pdf-icons/pdf-logotipo.png" alt="No image" width="20px" height="auto" />
                      <span class="position-absolute animate__animated animate__bounceIn top-0 start-100 translate-middle badge rounded-pill bg-danger" style="transform: translate(-50%, -50%); font-size: 0.5em;">
                        {{requer.fileNotEnt}}
                        <span class="visually-hidden">
                          unread messages
                        </span>
                      </span>
                    </div>
                  </ng-container>
                  <ng-template #vacioNotaEntrega>
                    <div style="position: relative;">
                      <mat-icon>picture_as_pdf</mat-icon>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary" style="transform: translate(-50%, -50%); font-size: 0.5em;">
                        {{requer.fileNotEnt}}
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </h2>
        <div [id]="'flush-collapse-' + requer.idTicket"
          [class]="requer.collapseShow"
          [attr.aria-labelledby]="'flush-heading-' + requer.idTicket"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body px-4 py-0">
            <div class="d-flex align-items-center p-2 rounded-4 justify-content-between my-1" style="background: rgb(232, 232, 232)">
              <div class="d-flex align-items-center p-1">
                <div class="d-flex flex-column">
                  <small class="litle-title p-0 m-0">
                    TIPO DE EQUIPO
                  </small>
                  <span class="subtitulo">
                    {{ requer.codTipoEquipo }}
                  </span>
                </div>
              </div>
              <div class="d-flex align-items-center p-1">
                <div class="d-flex flex-column">
                  <small class="litle-title p-0 m-0">
                    MARCA
                  </small>
                  <span class="subtitulo">
                    {{ requer.nombreMarca }}
                  </span>
                </div>
              </div>
              <div class="d-flex align-items-center p-1">
                <div class="d-flex flex-column">
                  <small class="litle-title p-0 m-0">
                    MODELO
                  </small>
                  <span class="subtitulo">
                    {{ requer.codModelo }}
                  </span>
                </div>
              </div>        
              <div class="d-flex align-items-center p-1">
                <div class="d-flex flex-column">
                  <small class="litle-title p-0 m-0">
                    CONTADOR EQUIPO
                  </small>
                  <span class="subtitulo">
                    {{ requer.contadorinicial }} - {{ requer.contadorfinal }}
                  </span>
                </div>
              </div>        
              <div class="d-flex flex-column">
                <small class="litle-title p-0 m-0">
                  CÓDIGO DEL PROBLEMA
                </small>
                <span class="p-0 m-0 fw-semibold">{{ requer.motivoTrabajo }}</span>
              </div>
              <div class="d-flex flex-column">
                <small class="litle-title p-0 m-0">
                  DESCRIPCIÓN DEL PROBLEMA
                </small>
                <span class="p-0 m-0 fw-semibold">{{ requer.descripcionProblema }}</span>
              </div>
            </div>
            <!-- Revisar -->
            <div class="d-flex justify-content-between mb-3">
              <div class="p-2 actions-menu">
                <div *ngFor="let buttons of actionMenuTicket">
                  <div class="btnside"
                    *ngIf="buttons.permison"
                    [matTooltip]="buttons.description"
                    matTooltipPosition="right"
                    (click)="getAppSearch(buttons.codec, requer)">
                    <mat-icon>{{ buttons.icon }}</mat-icon>
                  </div>
                </div>
              </div>
              <div class="p-2 m-2" style="width: 95%" *ngIf="_show_fecha_real">
                <app-fecha-real (showFormFechaReal)="getStatusFReal($event)"
                  [requerimiento]="modelSendRequer"
                  (emitTecnicosMantenimiento)="getTecnicosMantenimiento($event)">
                </app-fecha-real>
              </div>
              <div class="p-2 m-2" style="width: 95%" *ngIf="_show_resumen_mantenimiento">
                <app-mantenimiento
                  (showFormFechaReal)="getStatusFReal($event)"
                  (newMantenimiento)="getNewMantenimiento($event)"
                  (emitRepuestosMantenimiento)="getRepuestosMantenimiento($event)"
                  [requerimiento]="modelSendRequer"
                  >
                </app-mantenimiento>
              </div>
              <div class="p-2 m-2" style="width: 95%" *ngIf="_show_file_media_ticket">
                <app-file-media-ticket [requerimiento]="modelSendRequer"  >
                </app-file-media-ticket>
              </div>
              <div class="p-2 m-2" style="width: 95%" *ngIf="_show_order_work">
                <div>
                  <div class="data-footer my-2">                    
                    <div class="text-light d-flex align-items-center p-2"
                         style="width: 350px;background-color: rgb(28, 102, 192);color: white;border-top-right-radius: 10px;">
                        <button mat-icon-button [matMenuTriggerFor]="menu2" *ngIf="_cli_view">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu2="matMenu">
                        <div mat-menu-item
                          class="d-flex align-items-center p-2"
                          (click)="openDataRepuestosDialog(requer.idTicket, 'REPTEC')">
                          <mat-icon>picture_as_pdf</mat-icon>
                          &nbsp;
                          <span>Reporte técnico</span>
                        </div>
                        <div mat-menu-item
                          class="d-flex align-items-center p-2"
                          (click)="openDataRepuestosDialog(requer.idTicket, 'NOTAENTREGA')">
                          <mat-icon>picture_as_pdf</mat-icon>
                          &nbsp;
                          <span>Nota de entrega</span>
                        </div>
                      </mat-menu>
                      &nbsp;
                      &nbsp;
                      <span>Resumen de mantenimiento</span>
                    </div>
                    <div class="table-responsive-lg">
                      <app-resumen-mantenimiento [manetenimientoEsuchado]="mantenimientosAgregados" [idRequerimiento]="idTicketEmit">
                      </app-resumen-mantenimiento>
                    </div>
                  </div>
                  <div class="data-footer d-flex">
                    <div style="width: 300px">
                      <div class="text-light p-2" style="width: 300px;background-color: rgb(71, 71, 71);color: white;border-top-right-radius: 10px;">
                        Técnicos registrados a este mantenimiento
                      </div>
                      <div class="table-responsive-lg" style="max-height: 40vh; overflow-y: auto;">
                        <app-tecnicos-registrados [idRequerimiento]="idTicketEmit" [tecnicosEscuchados]="listaTecnicosRecibidos">
                        </app-tecnicos-registrados>
                      </div>
                    </div>
                    <div class="w-75">
                      <div>
                        <app-repuestos-asignados [idRequerimiento]="idTicketEmit" [repuestosEscuchados]="listaRepuestosRecibidos">
                        </app-repuestos-asignados>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Botón de visibilidad (solo visible cuando el panel está oculto) -->
<button class="btn-visibility btn btn-sm d-flex align-items-center animate__animated animate__backInRight rounded-pill"
        *ngIf="_cli_view && panelState === 'hidden'"
        (click)="showPanel()">
        <mat-icon>visibility</mat-icon>
</button>

<!-- Panel de clientes -->
<div class="client-panel right-panel animate__animated animate__fadeIn" 
     [@slidePanel]="panelState" 
     *ngIf="_cli_view">
  <button class="toggle-panel-btn right" (click)="togglePanel()">
    {{ panelState === 'hidden' ? '<' : '>' }}
  </button>
  <app-clientes-help-desk 
    (codcli)="obetenerModeloCliente($event)" 
    [codCliTikenAlert]="listenCodCli" 
    (ticketAlertEmit)="obtenerTicketAlert($event)">
  </app-clientes-help-desk>
</div>
</section>