<app-navside></app-navside>
<div class="d-flex justify-content-evenly">
    <div class="p-4 w-100">        
        <app-tabla-help-desk (showFormPermission) = "showFormPermission($event)" [listenTicket]="getti" (emitTicket)=" listenTicket($event) " ></app-tabla-help-desk>
    </div>
    <div class="form-left animate__animated animate__fadeIn" *ngIf="form_view" >
         <app-formulario-registro-problemas (showFormView)=" closeFormularioTicket($event) " (GetTickets)=" getTicket($event) " ></app-formulario-registro-problemas>
    </div>
</div>