
<div class="expiracion text-dark w-25 bg-warning rounded-2 d-flex justify-content-center align-items-center " > 
    {{ msj_time_exp }}
</div>
<app-navside></app-navside>

<div class="container-fluid d-flex flex-column align-items-center animate__animated animate__fadeInLeft" style="height: 90vh;">
    <div class="d-flex justify-content-evenly w-100">
        <div class="footer animate__animated animate__bounceInUp"
             *ngIf="show_alert_tickets">
            
            <app-tickets-listen class="d-flex flex-column"
                                (codcli)="obtenerCodCLiListenTicket($event)"
                                (codTicketEmit)="obtenerTicketTagId($event)"
                                (cantTicketEmit)="obtenerCantidadTickets($event)">
            </app-tickets-listen>
        </div>

        <div class="py-2 w-100">     
            <audio #audioAlert src="../../../assets/audio/msj_sound.mp3"></audio>
            <app-tabla-help-desk (showFormPermission)="showFormPermission($event)"
                                 (dataUpdateTicketEmit)="ObtenerDataTicketUpdate($event)"
                                 [listenTicket]="getti"
                                 [listenCodCli]="codigoClientePadre"
                                 [listenTagTicket]="TicketTagIdPadre"
                                 (emitTicket)="listenTicket($event)">
            </app-tabla-help-desk>
        </div>

        <div class="form-left animate__animated animate__fadeInUp" *ngIf="form_view">
            <app-formulario-registro-problemas (showFormView)="closeFormularioTicket($event)"
                                               [GetDataTicketUpdate]="dataUpdateTicketDasboard"
                                               (GetTickets)="getTicket($event)">
            </app-formulario-registro-problemas>
        </div>

    </div>
   
</div>

<div class="position-fixed bottom-0 end-0 p-3 animate__animated animate__bounceInRight " style="z-index: 1050">
    <div *ngFor="let noti of notificaciones" class="toast show"
         role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header  d-flex justify-content-between align-items-center" 
             style="background-color: yellowgreen;">
          <div class="icon-alert d-flex align-items-start justify-content-start w-75"  >              
              <div [style]="'background-image: url('+noti.imagen+');'" class="img_alert" ></div>
              <div class="d-flex flex-column align-items-start">
                  <span>
                    <strong> {{noti.nombreAgencia}} </strong>
                  </span>
                  <small>
                    <strong> {{noti.nombreCliente}} </strong>
                  </small>
              </div>
          </div>
          <button type="button"
                  class="ml-2 mb-1 close"
                  data-dismiss="toast"
                  aria-label="Close"
                  (click)="cerrarNotificacion(noti)">
                  <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body d-flex justify-content-between align-items-center">
            <div> 
                <strong>COTIZACIÓN</strong>:
                <br>
                <strong style="font-size: 9pt;" > {{ noti.fileUrl }} </strong> 
            </div>
            <div> 
                <mat-icon class="text-success">done</mat-icon> 
            </div>
            <small class="text-success">
                    APROBADO
            </small>
        </div>
    </div>
  </div>
  