<div>
  <div class="box-messenger">
    <div class="msj-box" *ngFor="let mensaje of listaMensajes" [ngClass]="{'sent-m': mensaje.coduser !== userLog, 'received-m': mensaje.coduser === userLog}">
      <div>
        <small>{{ mensaje.usuario }}</small>
      </div>
      <div [ngClass]="{'sent-message': mensaje.coduser !== userLog, 'received-message': mensaje.coduser === userLog}">
        {{ mensaje.mensaje }}
      </div>
      <small>{{ mensaje.fechaemit | date : "short" }}</small>
    </div>
  </div>
  <div class="tip-message">
    <form [formGroup]="messengerForm" class="mb-2" (ngSubmit)="onSubmit()">
      <textarea
        formControlName="msj"
        #msj
        id="msj"
        class="form-control"
        rows="4"
        (keydown.enter)="enviarMensajePressBotton($event)"
      >
      </textarea>
      <button class="btn-ico" id="btn-ico" type="submit">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</div>
