<div class="formulario">
<h1 class="d-flex align-items-center" ><mat-icon>confirmation_number</mat-icon> Registro de Ticket </h1>
<hr>
<div>
    <form [formGroup]="registerTroubleForm" class="mb-2" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="email" class="form-label text-secondary d-flex align-items-center">
                <mat-icon>build</mat-icon> Tipo de requerimiento:
            </label>
            <select name=""
                    class="form-control"
                    id="tipo"
                    #tipo
                    formControlName="tipo"
                    (change)="validateTipoData()"
                    >
                    <option [value]="tipo.codigo" *ngFor="let tipo of listaTipos">
                         {{ tipo.nombre }}
                    </option>
            </select>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label text-secondary d-flex align-items-center">
                <mat-icon>factory</mat-icon> Seleccionar {{_data_label}}: &nbsp; <strong>( {{listaAgencias.length}} )</strong>
            </label>
            <select name="" class="form-control"
                    id="agencia"
                    formControlName="agencia"
                    (change)=" validateAgencia(); obtenerAsignacionMaquinariaAgencia()"
                    #agencia>                
                    <option [value]="agencia.codagencia"
                            *ngFor="let agencia of listaAgencias">
                            {{ agencia.nombre | uppercase }}
                    </option>
            </select>
        </div>
        <div class="mb-3" *ngIf="maquinarias_show" >
            <label for="email" class="form-label text-secondary d-flex align-items-center">
                <mat-icon>point_of_sale</mat-icon> Equipos disponibles en esta {{_data_label}}: &nbsp; <strong>( {{listaEquipos.length}} )</strong>
            </label>
            <select name=""
                    class="form-control"
                    id="equipo"
                    #equipo
                    formControlName="equipo"
                    >
                    <option [value]="equipo.codmaquina" *ngFor="let equipo of listaEquipos" >
                         {{ equipo.nombremarca }} - {{ equipo.nserie }}
                    </option>
            </select>
        </div>
        <div class="mb-3">
            <label for="mensajeDelProblema" class="form-label text-secondary d-flex align-items-center">
               <mat-icon>list_alt</mat-icon> Mensaje del problema:
            </label>
            <textarea id="mensajeDelProblema"
                      formControlName="mensajeDelProblema"
                      #mensajeDelProblema
                      class="form-control"
                      rows="3"
                      >
            </textarea>
        </div>
        <div class="mb-3">
            <label for="mensajeDelProblema" class="form-label text-secondary d-flex align-items-center">
               <mat-icon>book_mark</mat-icon> Observación:
            </label>
            <textarea 
                      formControlName="observacion"
                      #observacion
                      class="form-control"
                      rows="1"
                      id="observacion">
            </textarea>
        </div>
        <div class="mb-3">              
            <label for="contrasenia" class="form-label text-secondary d-flex align-items-center">
              <mat-icon>image</mat-icon>Imagen (A):
            </label>
            <input type="file"
                   class="form-control"
                   formControlName="fileA"
                   #fileA
                   id="fileA">
        </div>
        <div class="mb-3">              
            <label for="contrasenia" class="form-label text-secondary d-flex align-items-center">
              <mat-icon>image</mat-icon>Imagen (B):
            </label>
            <input type="file"
                   class="form-control"
                   formControlName="fileB"
                   #fileB
                   id="fileB">
        </div>
        <button type="submit" [disabled]="_dis_btn"
                class="btn btn-outline-secondary w-100 d-flex align-items-center justify-content-center">
                <mat-icon>key</mat-icon> Ingresar
        </button>
    </form>
</div>

</div>